@media print {
    body {
        padding: 0 !important;
        display: block !important;
        min-height: auto !important;
    }

    header,
    .header__title,
    .ingredients-form,
    .ingredients__container,
    .get-recipe__box,
    .generated-recipe__title,
    .generated-recipe__footer,
    .ingredients-form__popular-container,
    .wrapper::before,
    footer {
        display: none !important;
    }

    .wrapper {
        max-width: 100% !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 1rem !important;
    }
}