@import './styles/reset.css';
@import './styles/button.css';
@import './styles/ingredients.css';
@import './styles/footer.css';
@import './styles/generated-recipe.css';
@import './styles/loader.css';
@import './styles/get-recipe.css';
@import './styles/print.css';
@import './styles/header.css';

:root {
    --color-primary: #81b29a;
    --color-primary-dark: #618875;
    --color-secondary: #f2cc8f;
    --color-accent: #3d405b;
    --color-danger: #e07a5f;
    --color-success: #2a9d8f;
    --color-warning: #f1faee;
    --white: #fff;
    --black: #000;
}

body {
    /* background-color: var(--color-secondary); */
    /* background: hsla(0, 0%, 100%, 1); */
    background: linear-gradient(to left, #ece9e6, #ffffff);
    display: grid;
    place-content: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Raleway", system-ui, sans-serif;
    min-width: 300px;
    padding: clamp(1rem, 4vw, 4rem);
}

h1,
h2,
h3,
h4 {
    margin-block-end: 1rem;
}

p,
ul,
ol {
    margin-block-end: 1rem;
}

.wrapper {
    background-color: #f8f8f8;
    padding: 2rem 3rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    max-width: 800px;
    border-radius: 0.5rem;
}

label {
    visibility: hidden;
    height: 0;
}

label,
input {
    display: block;
    width: 100%;
}

@media all and (max-width: 360px) {
    .wrapper {
        padding: 2rem 1.5rem;
    }
}

.color-danger {
    color: var(--color-danger);
    font-weight: 500;
}