@import './styles/reset.css';
@import './styles/button.css';
@import './styles/ingredients.css';
@import './styles/footer.css';
@import './styles/generated-recipe.css';
@import './styles/loader.css';
@import './styles/get-recipe.css';
@import './styles/print.css';
@import './styles/header.css';
@import './styles/disclaimer.css';

:root {
    --color-primary: #81b29a;
    --color-primary-dark: #618875;
    --color-secondary: #f2cc8f;
    --color-accent: #3d405b;
    --color-accent-darker: #313349;
    --color-danger: #e07a5f;
    --color-success: #2a9d8f;
    --color-warning: #f1faee;
    --color-grey: #a1a1a1;
    --white: #fff;
    --black: #000;
    --shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    --shadow-small: 0 0 1rem rgba(0, 0, 0, 0.1);
}

body {
    /* background-color: var(--color-secondary); */
    /* background: hsla(0, 0%, 100%, 1); */
    background: linear-gradient(to left, #ece9e6, #ffffff);
    display: grid;
    place-content: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Raleway", system-ui, sans-serif;
    min-width: 300px;
    padding: clamp(1rem, 4vw, 4rem);
}

h1,
h2,
h3,
h4 {
    margin-block-end: 1rem;
}

p,
ul,
ol {
    margin-block-end: 1rem;
}

.wrapper {
    margin-block-start: 10%;
    background-color: #f8f8f8;
    padding: 2rem 3rem;
    box-shadow: var(--shadow);
    max-width: 800px;
    border-radius: 0.5rem;
    position: relative;
}

.wrapper::before {
    content: url('./assets/chefs-hat-icon.png');
    position: absolute;
    top: -4rem;
    left: -5rem;
    z-index: -1;
    transform: rotate(310deg) scale(0.85);
    opacity: 0.75;
}

label {
    visibility: hidden;
    height: 0;
}

label,
input {
    display: block;
    width: 100%;
}

@media all and (max-width: 960px) {
    .wrapper::before {
        display: none;
    }
}

@media all and (max-width: 480px) {
    body {
        padding: 0;
    }

    .wrapper {
        padding: 2rem 1.5rem;
        box-shadow: none;
        border-radius: 0;
        margin-block-start: 0;
    }
}

.color-danger {
    color: var(--color-danger);
    font-weight: 500;
}